@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --var-white: hsl(0, 0%, 100%);
    --var-light-gray: hsl(212, 45%, 89%);
    --var-grayish-blue: hsl(220, 15%, 55%);
    --var-dark-blue: hsl(218, 44%, 22%)
}
body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.9375rem;
    background-color: var(--var-light-gray);
}

main {
    max-width: 22.5rem;
}

.card {
    background-color: var(--var-white);
    padding: 1rem;
    border-radius: 1.125rem;
    text-align: center;
    margin: 0 1em;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1)
}

.card img {
    width: 100%;
    border-radius: 0.875rem;
}

.text {
    padding: 1.375rem 1.125rem;
}

.text h1 {
    color: var(--var-dark-blue);
    padding-bottom: 1rem;
    font-size: 1.375rem;
}

.text p {
    color: var(--var-grayish-blue);
}